.sale-info{
  width: 25%;
  font-size: 1rem;
}
.sale-text{
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
}


/* 本の状態・配送料について */
.books-detail{
  padding: 1rem 0;
}
.status, .transfer_fee{
  padding: 10px;
}

/* 価格について */
.price{
  font-size: 1.2rem;
  padding: 0 10px;
}


/* 購入ページへ */
.order{
  width: 30%;
  position: relative;
}
.move-order{
  background-color: #ae3434;
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  border-radius: 0.5rem;
}
.move-order-btn{
  color: #eeeae4;
  display: inline-block;
  padding: 1rem 1.3rem;
}
.move-order:hover{
  background-color: #c24040;
}