.add-btn {
  width: 140px;
  height: 140px;
  background: #1e2c41;
  text-align: center;
  border-radius: 0.5em;
  bottom: 36px;
  right: 40px;
  position: fixed;
  padding: 10px;
  z-index: 10;
}

.add-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.add-btn-icon {
  margin-top: 5px;
  width: 70%;
  height: 60%;
}

.top-icon{
  margin-top: 20px;
  width: 10%;
  height: 90%;
}
.header-text{
  font-size: 50px;
  color: #fff;
}