.header{
  width: 100vw;
  height: 120px;
  background-color: #354e59;
}
.container{
  margin: 0 auto;
  width: 80%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  margin: 10px;
}
.top-icon{
  width: 65px;
  height: 65px;
  background-color: #738e99;
  border-radius: 1em;
}

.header-right-contents{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login{
  border: 1px solid #e6dcd8;
  margin-right: 15px;
}
.sign-up{
  border: 1px solid #e6dcd8;
}

.top-login-btn{
  color: #eeeae4;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.top-login-btn:hover{
  background-color: #243e49;
}
.sign-up-btn{
  color: #eeeae4;
  background-color: #738e99;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.sign-up-btn:hover{
  background-color:#577a88;
}

.search-area{
  width: 25vw;
  height: 35px;
}
.search-input{
  width: 85%;
  height: 35px;
  padding: 5px 10px;
}
.search-btn{
  height: 35px;
  background-color: rgb(202, 213, 232)
}