.header{
  width: 100vw;
  height: 120px;
  background-color: #1e2c41;
}
.container{
  margin: 0 auto;
  width: 80%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  margin: 10px;
}
.top-logo{
  text-decoration: none;
}
.top-icon{
  width: 65px;
  height: 65px;
  background-color: cornflowerblue;
  border-radius: 1em;
}

.header-right-contents{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login{
  border: 1px solid white;
  margin-right: 15px;
}
.sign-up{
  border: 1px solid white;
}

.top-login-btn{
  color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.top-login-btn:hover{
  background-color: rgb(237, 143, 100);
}
.sign-up-btn{
  color: aliceblue;
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.sign-up-btn:hover{
  background-color: rgb(64, 111, 198);
}