.header{
  height: 120px;
  background-color: #1e2c41;
}

.container{
  margin: 0 auto;
  width: 80%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  margin: 10px;
}


