<footer class='fotter'>
  <div class='fotter-text-wrap'>
    <p class='fotter-text'>プライバシーポリシー</p>
    <p class='fotter-text'>Rebom利用規約</p>
    <p class='fotter-text'>特定商取引に関する表記</p>
  </div>
</footer>