<div class="header">
  <div class="container">
    <div class="header-left">
      <div class="header-logo">
        <a href="/">
          <%= image_tag 'top_icon.png' , size: '200x50' ,class: "top-icon" %>
          <span class="header-text">Rebom</span>
        </a>
      </div>
    </div>
    <div class="header-right">
      <div class="header-right-contents">
      <% unless user_signed_in? %>
        <div class="login">
          <%= link_to 'ログイン', new_user_session_path, class:"top-login-btn" %>
        </div>
        <div class="sign-up">
          <%= link_to '新規登録', new_user_registration_path, class:"sign-up-btn" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>