<div class="header">
  <div class="container">
    <div class="header-left">
      <div class="header-logo">
        <a href="/">
          <%= image_tag 'top_icon.png' , size: '200x50' ,class: "top-icon" %>
          <span class="header-text">Rebom</span>
        </a>
      </div>
    </div>
  </div>
</div>