<div class="right-side-bar">
  <div class='add-btn'>
    <span class='add-btn-text'>追加する</span>
    <a href="/books/new">
      <%= image_tag 'book_btn.png' , size: '200x50' ,class: "add-btn-icon" %>
    </a>
  </div>
</div>