<%= render "shared/second-header"%>

<div class='form-wrapper'>
  <div class='form-header'>
    <h3 class='form-header-text'>
      登録した本の情報を編集します。
    </h3>
  </div>

  <%= render partial: "book_form", locals: { book: @book, tag: @tag } %>

<%= render "shared/footer"%>