<%= render "shared/second-header"%>

<div class='form-wrapper'>
  <div class='form-header'>
    <h3 class='form-header-text'>
      本を登録して書斎に追加しましょう。
    </h3>
  </div>

  <%= render partial: "book_form", locals: { book: @book, tag: @tag } %>

<%= render "shared/footer"%>