.main-books-wrapper{
  display: flex;
  width: 100vw;
  height: calc(100vh - 110px);
  background-color: #dfdfdf09;
}

.left-side-bar{
  width: 260px;
  background-image: linear-gradient(10deg, rgba(114, 114, 114, 0.24) 0%, #41444754 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
}

.left-bar-top{
  margin: 0 auto;
  padding-top: 10px;
  font-size: 18px;
}
.move-to-show{
  margin-top: 20px;
}
.move-show{
  display: inline-block;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  text-decoration: none;
  color: #1e2c41;
}
.move-show:hover{
  background-color: #1e2c41;
  color: aliceblue;
}

.left-bar-list{
  margin-top: 70px;
}
.left-content-lists{
  display: flex;
  flex-direction: column;
}
.left-content{
  padding: 25px 0;
}
.content-btn{
  color: #1e2c41;
  text-decoration: none;
}
.gest{
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: #1e2c41;
}

/* ここから投稿一覧 */
.books-timeline{
  background-color: rgb(241, 240, 240);
  width: calc(100vw - 260px);
  padding: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  display: flex;
}
.books-container{
  width: 100%;
}
.book-lists{
  display: flex;
  flex-wrap: wrap;
}
.content{
  width: 48%;
  height: 33vh;
  border-radius: 0.3em;
  background-color:rgba(214, 214, 214, 0.548);
  display: flex;
  margin: 8px auto;
  position: relative;
}
.book-img-content{
  margin: 20px 15px;
  text-align: center;
}
.book-img{
  width: 11vw;
  height: 28vh;
  border-radius: 0.3em;
}

.book-info{
  width: 60%;
}
.book-title{
  width: 96%;
  margin-top: 40px;
  padding-left: 5px;
  font-size: 18px;
}
.book-author{
  margin-top: 20px;
  padding-left: 10px;
  font-size: 14px;
}


.star-btn{
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}
.star-icon{
  width: 3vh;
  height: 3vh;
}
/* 一覧投稿ここまで */

.right-side-bar{
  width: 260px;
  background-image: linear-gradient(10deg, rgba(114, 114, 114, 0.24) 0%, #41444754 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
}