.form-wrapper{
  width: 70%;
  margin: 0 auto;
}

.book-btn {
  width: 50%;
  margin: 35px auto 50px; 
  text-align: center;
}
.book-indigo-btn {
  width: 60%;
  background: #1e2c41;
  border: 1px solid #1e2c41;
  opacity: 93%;
  border-radius: 0.5em;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
.book-indigo-btn:hover {
  opacity: 1;
}