.book-content-wrapper{
  overflow: scroll;
  display: flex;
  width: 100vw;
  height: calc(100vh - 120px);
}
.main-books-wrapper{
  overflow: scroll;
}
.back-btn-wrapper{
  width: 13%;
}
.home-back-btn-container, .back-btn-container{
  width: 70px;
  height: 70px;
  margin: 70px auto;
  border: 4px solid #354e59;
  border-radius: 5em;
}
.back-btn-container:hover{
  background-color: #ad9f8a;
}
.home-back-btn-container:hover{
  background-color: #ad9f8a;
}
.back-btn-icon{
  margin: 13px ;
  width: 60%;
  height: 70%;
}
.left-side-container{
  width: 350px;
  height: 560px;
  margin: 40px 0;
  background-color: #ad9f8a;
  display: flex;
  justify-content: center;
}
.left-side-contents{
  width: 90%;
  text-align: center;
}
.book-image{
  margin-top: 30px;
}
.left-bar{
  padding: 10px 0;
  font-size: 18px;
}
.book-tags{
  margin-top: 20px;
  color: #354e59;
  font-size: 20px;
}
.tag{
  color: #354e59;
  width: 100%;
  height: 28px;
  margin: 10px auto;
}
.post-user-account{
  margin-top: 30px;
  text-align: center;
}
.user-account{
  color: black;
}
.user-account:hover{
  border-bottom: 1px solid #354e59;
}

/* ここから記事投稿一覧 */
.posts-index{
  width: 60%;
  height: 560px;
  padding: 10px 0 50px;
  margin: 40px 120px 0 20px;
  background-color: #d2c6b6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* アウトプットボタン */
.create-content-btn{
  display: inline-block;
}
.add-btn-post{
  color: #eeeae4;
  font-size: 1.2rem;
  width: 30vw;
  height: 60px;
  margin: 20px;
  border-radius: 0.5rem;
  background-color: #354e59;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn-post:hover{
  background-color: #273d46;
}
/* アウトプットボタンここまで */

.post-contents-wrapper{
  width: 100%;
  padding-bottom: 60px;
  margin:10px auto 40px;
  background-color:#d2c6b6;
  display: flex;
  flex-direction: column-reverse;
}
.post-contents{
  margin: 0 auto;
  width: 92%;
}
.post{
  width: 100%;
  height: 18vh;
  padding: 1rem 1.5rem;
  margin: 15px auto;
  border: 1px solid #354e59;
  border-radius: 0.5rem;
  color: #354e59;
  background-color: #eeeae4;
  text-align: justify;
  position: relative;
}
.post-date{
  font-size: 1rem;
  position: absolute;
  bottom: 8px;
  right: 15px;
  color: #354e59;
}

.highlight-content{
  margin: 10px auto;
  font-size: 1.2rem;
}
.highlight-btn{
  color: #354e59;
}
.highlight-btn:hover{
  color: #c24040;
  border-bottom: 1px solid #c24040;
}