.book-content-wrapper{
  overflow: scroll;
}
.main-books-wrapper{
  display: flex;
  width: 100vw;
  height: calc(100vh - 120px);
}
.left-side-container{
  width: 420px;
  margin: 40px 0 40px 120px;
  background-image: linear-gradient(10deg, rgba(114, 114, 114, 0.24) 0%, #41444754 100%);
  display: flex;
  justify-content: center;
}
.left-side-contents{
  width: 85%;
  text-align: center;
}
.book-image{
  margin-top: 28px;
}
.book-icon{
  width: 17vw;
  height: 22vh;
  border: 2px solid black;
  border-radius: 4%;
}
.left-bar-title{
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}
.book-title{
  color: #1e2c41;
  text-decoration: none;
}

.left-bar-list{
  text-align: center;
}
.left-content-lists{
  display: flex;
  flex-direction: column;
}
.left-content{
  padding: 15px 0;
}
.content-btn:hover{
  border-bottom: 1px solid black;
}
.post-user-account{
  margin-top: 30px;
  text-align: center;
}

/* ここから記事投稿一覧 */
.posts-index{
  width: 75%;
  height: 560px;
  padding: 30px 0 50px;
  margin: 40px 120px 0 20px;
  background-color:rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* アウトプットボタン */
.create-content-btn{
  display: inline-block;
}
.add-btn-post{
  color: azure;
  text-decoration: none;
  width: 500px;
  height: 60px;
  margin-top: 30px;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 0.5em;
  background-color: rgb(253, 128, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn-post:hover{
  background-color: rgb(246, 112, 50);
}
/* アウトプットボタンここまで */


.post-contents-wrapper{
  width: 100%;
  background-color:rgb(236, 236, 236);
  padding-bottom: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
}
.post-contents{
margin: 0 auto;
width: 92%;
}
.posts{
margin-top: 50px;
}
.post{
width: 100%;
height: 18vh;
padding: 12px 24px;
margin: 10px auto;
border: 1px solid #1e2c41;
color: rgb(54, 65, 65);
background-color: white;
position: relative;
}
.post-date{
  font-size: 13px;
  position: absolute;
  bottom: 8px;
  right: 15px;
}

.highlight-content{
  margin: 10px auto;
  font-size: 18px;
}
.highlight-btn{
  text-decoration: none;
  color: rgb(54, 65, 65);
}
.highlight-btn:hover{
  color: rgb(246, 112, 50);
  border-bottom: 1px solid rgb(246, 112, 50);
}