// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.transaction-main{
  background-color: #eeeae4;
  h1{
    font-size: 1.5rem;
    padding: 40px 0;
    text-align: center;
  }
}
.order-book-content{
  display: flex;
  justify-content: center;
}

.content-order{
  width: 25vw;
  height: 60vh;
  text-align: center;
}
.sale-payment{
  margin-top: 30px;
  .sale-payment-price{
    font-size: 1.7rem;
    padding: 10px 0;
  }
}
// クレジットカード情報入力フォーム
.credit-card-form{
  width: 35vw;
  padding: 20px 0;
  h1{
    border-bottom: 1px solid #354e59;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
  }
}
.card-logo{
  margin-top: 10px;
  width: 38px;
  height: 25px;
}
.input-expiration-date-wrap{
  display: flex;
  line-height: 40px;
  .input-expiration-date{
    width: 75px;
    height: 40px;
    padding: 8px;
    border-radius: 0.2rem;
  }
}

// 配送先入力フォーム
.shipping-address-form{
  padding: 20px 0;
  h1{
    border-bottom: 1px solid #354e59;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
  }
}

// 購入ボタン
.buy-btn{
  text-align: center;
  padding: 40px 0 60px;
  .buy-red-btn{
    padding: 15px 70px;
    border-radius: 0.5rem;
    color: #eeeae4;
    background-color: #ae3434;
  }
  .buy-red-btn:hover{
    background-color: #c24040;
  }
}