$font-color: azure;

.tag-book-wrapper{
  display: flex;
  width: 100vw;
  height: calc(100vh - 110px);
}
.books-container h1{
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.right-side-bar h3{
  padding: 20px;
  font-size: 18px;
  color: $font-color;
}
.tag-index{
  height: 62%;
  padding-bottom: 50px;
  overflow: scroll;
  p{
    padding: 4px;
    color: $font-color;
    background-color: #738e99;
  }
}

.tag-name{
  color: $font-color;
}