.post-wrapper{
  width: 100%;
  text-align: center;
}

.post-form{
  padding: 40px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.highlight-box{
  width: 50vw;
  margin: 10px auto;
}
.highlight{
  padding: 13px 18px;
  font-size: 20px;
}
.text-area{
  width: 50vw;
  height: 25vh;
  padding: 15px 20px;
  font-size: 18px;
}
.tag-field{
  width: 25%;
  margin: 30px auto;
}
.input-tag{
  padding: 0 10px;
  margin-bottom: 20px;
}
.save-btn{
  margin: 35px auto 20px;
}
.save{
  padding: 10px 40px;
  font-size: 19px;
  line-height: 40px;
  background: #1e2c41;
  opacity: 93%;
  border: 1px solid #1e2c41;
  font-size: 18px;
  border-radius: 0.5em;
  color: rgb(255, 255, 255);
}
.save:hover {
  opacity: 1;
}