.left-bar-book-title{
  width: 94%;
  margin: 15px auto;
}
.left-bottom-contents{
  margin: 25px;
}

.action-btn{
  font-size: 0.3rem;
  border-radius: 0.5rem;
  padding: 8px 16px;
}
.post-edit{
  background-color: #738e99;
  border: 1px solid #528395;
  border-radius: 0.5rem;
  color: azure;
}
.post-edit:hover{
  background-color: #528395;
}
.post-delete{
  margin-left: 10px;
  color: rgb(71, 71, 71);
  border: 1px solid rgb(71, 71, 71);
}
.post-delete:hover{
  color: black;
  background-color: rgb(131, 130, 130);
}

.post-top-content{
  background-color: rgba(100, 148, 237, 0.461);
  width: 90%;
  margin-top: 19px;
  padding: 1rem 1.2rem;
  border-radius: 0.5em;
  color: #354e59;
}
.highlight{
  width: 100%;
  font-size: 1.3rem;
  text-align: justify;
}
.post-bottom-content{
  width: 90%;
  padding: 20px 30px 50px;
  margin-top: 25px;
  border-radius: 0.5em;
  color: #354e59;
  background-color: #eeeae4;
  position: relative;
}
.post-text{
  width: 100%;
  font-size: 1.2rem;
  text-align: justify;
}
.post-time{
  position: absolute;
  bottom: 15px;
  right: 20px;
}
