
.left-bottom-contents{
  margin: 25px;
}

.action-btn{
  font-size: 13px;
  border-radius: 0.5em;
  padding: 8px 16px;
}
.post-edit{
  background-color: #738e99;
  border: 1px solid #738e99;
  border-radius: 0.5em;
  color: azure;
}
.post-edit:hover{
  background-color: rgba(100, 148, 237, 0.708);
}
.post-delete{
  margin-left: 10px;
  color: rgb(71, 71, 71);
  border: 1px solid rgb(71, 71, 71);
}
.post-delete:hover{
  color: black;
  background-color: rgb(131, 130, 130);
}

.post-top-content{
  background-color: rgba(100, 148, 237, 0.461);
  width: 90%;
  margin-top: 19px;
  padding: 5px 5px;
  border-radius: 0.5em;
  color: #354e59;
}
.highlight{
  font-size: 21px;
}
.post-bottom-content{
  background-color: white;
  width: 90%;
  height: 50%;
  padding: 20px 30px 50px;
  margin-top: 25px;
  border-radius: 0.5em;
  color: #354e59;
  position: relative;
}
.post-text{
  font-size: 20px;
}
.post-time{
  position: absolute;
  bottom: 15px;
  right: 20px;
}
