.edit-main {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.form-contents{
  display: flex;
  justify-content: space-between;
}
.form-group1,.form-group2{
  width: 50%;
}
.text-input-default{
  margin-top: 5px;
  height: 88px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
}

.edit-btn {
  width: 50%;
  margin: 30px auto 0;
}
.edit-indigo-btn {
  width: 100%;
  background:#354e59;
  border: 1px solid#354e59;
  border-radius: 0.5em;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
.accordion-box{
  text-align: center;
  margin-top: 40px;
}
.change-btn{
  background-color: #738e99;
  color: white;
  border-radius: 10em;
  padding: 8px 20px;
  font-size: 10px;
  display: inline-block;
}
.accordion-show{
  display: none;
}

/* レスポンシブ実装 */
@media (max-width: 500px) {
  .edit-main {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
  }
  .form-contents{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .form-group1,.form-group2{
    width: 100%;
  }
  .text-input-default{
    height: 4rem;
    font-size: 0.8rem;
  }
  
  .edit-btn {
    width: 50%;
    margin: 30px auto 0;
  }
  .edit-indigo-btn {
    width: 100%;
    height: 3rem;
    line-height: 1rem;
    font-size: 1rem;
  }
}