.user-image{
  margin-top: 28px;
}
.user-icon{
  border: 2px solid black;
  border-radius: 4%;
}
.user-text{
  padding: 8px;
  margin: 0 auto;
  width: 85%;
  height: 100px;
  font-size: 13px;
  background-color: rgba(227, 227, 227, 0.619);
  border-radius: 4%;
}
.left-bar-list{
  margin-top: 25px;
}
.logout-btn{
  margin: 40px auto;
}
.bottom-logout-btn{
  padding: 10px 20px;
  font-size: 13px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
}