.user-image{
  margin-top: 28px;
}
.user-icon{
  border-radius: 4%;
}
.left-bar-title{
  width: 94%;
  margin: 15px auto;
  color: #eeeae4;
}

.user-text{
  padding: 8px;
  margin: 0 auto;
  width: 85%;
  height: 100px;
  font-size: 14px;
  text-align: left;
  background-color: rgba(227, 227, 227, 0.619);
  border-radius: 4%;
}
.logout-btn{
  margin: 100px auto 0;
}
.bottom-logout-btn{
  padding: 10px 20px;
  font-size: 15px;
  color: #eeeae4;
  background-color: #354e59;
  border-radius: 0.5em;
  cursor: pointer;
}
.bottom-logout-btn:hover{
  background-color:  #233d47;
}

/* 投稿一覧部分 */
.user-book-lists{
  display: flex;
  flex-wrap: wrap-reverse;
}

.action-button{
  position: absolute;
  bottom: 10%;
  right: 35%;
}
.action-lists{
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}
.edit-button{
  padding: 6px 10px;
  margin-right: 5px;
  border: 2px solid #738e99;
  border-radius: 0.5em;
  color: #738e99;
}
.edit-button:hover{
  color: azure;
  background-color: #738e99;
}
.delete-button{
  padding: 3px 8px;
  color: rgb(81, 82, 85);
}
.delete-button:hover{
  color: black;
}
