.user-image{
  margin-top: 28px;
}
.user-icon{
  border-radius: 4%;
}
.left-bar-title{
  width: 94%;
  margin: 0 auto;
}
.user-name{
  color: #1e2c41;
}
.user-text{
  padding: 8px;
  margin: 0 auto;
  width: 85%;
  height: 100px;
  font-size: 14px;
  text-align: left;
  background-color: rgba(227, 227, 227, 0.619);
  border-radius: 4%;
}
.logout-btn{
  margin: 100px auto 0;
}
.bottom-logout-btn{
  padding: 10px 20px;
  font-size: 15px;
  color: rgb(67, 69, 74);
  border: 2px solid rgb(98, 101, 108);
  border-radius: 0.5em;
  cursor: pointer;
}
.bottom-logout-btn:hover{
  background-color: rgba(98, 101, 108, 0.351);
}

/* 投稿一覧部分 */
.user-book-lists{
  display: flex;
  flex-wrap: wrap-reverse;
}

.action-button{
  position: absolute;
  bottom: 20px;
  right: 180px;
}
.action-lists{
  font-size: 8px;
  display: flex;
  justify-content: space-around;
}
.edit-button{
  padding: 6px 10px;
  margin-right: 5px;
  border: 2px solid rgba(100, 148, 237, 0.79);
  border-radius: 0.5em;
  color: rgb(100, 148, 237);
}
.edit-button:hover{
  color: azure;
  background-color: rgba(100, 148, 237, 0.79);
}
.delete-button{
  padding: 3px 5px;
  color: rgb(81, 82, 85);
}
